.intro{
    width:100%;
    max-width: 90%;
    height: (100% - 4rem);
    padding: 2rem 4rem;
    margin:0px auto;
    overflow: hidden;
}

.introContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100vw;
    height: 60vh;
}

.hello{
    font-size:24px;
}

.introText{
    font-size: 32px;
}

.hirebtn{
    background-color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin:1rem 0;
}